/* universal */
html {
  font-family: "helvetica", sans-serif;
  color: #888888;
}

header {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 1000;
  height: 32px;
  padding: 16px 0;
  display: flex;
}

.navigation-desktop {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navigation-desktop .brand {
  align-items: center;
}

.navigation-desktop span {
  align-items: center;
  justify-content: center;
}

.navigation-desktop-links ul {
  display: flex;
}


.navigation-mobile {
  display: none;
}

.navigation-mobile ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* navigation bar media queries */
@media only screen and (max-width: 760px) {
  .navigation-desktop {
    display: none;
  }

  .navigation-mobile {
    display: block;
    width: 100%;
  }





/* banner */
.banner {
  display: inline-flex;
  background-color: #D3D3D3;
  margin-top: 64px;
}

.banner-image {
  width: 60%;
  padding: 32px 24px;
}

.banner-image img {
  position: relative;
width: 100%;
}

.banner-content {
  width: 40%;
  color: #585858;
  font-weight: bold;
  /* padding: 0 5rem 2.5rem 5rem; */
}

.banner-title {
  font-size: 2rem;
}

.enroll span {

}

.button {

  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
}

.button {
  color: white;
  background-color: #4a4a4a;
}


/* section */
.section-title {
  color: #585858;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: #f3f3f3;
  padding: 32px 0 16px 0;
}

.section-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f3f3f3;
}

.feature {
  overflow: visible;
  width: 33%;
  flex: 1;
  background-color: white;
  margin: 16px;
}

.class-image img {
  width: 100%
}


.class-content {
  margin: 16px 0 24px 16px;
}

.class-content-title {
  font-size: 1.25em;
  color: #696969;
  font-weight: bold;
}

.class-content-courses p {
  margin: 8px 0 8px 0;
}
/*
<div class="feature">
  <div class="center">

    <div class="image-container">
      <img src="./resources/images/feature-1.png">
    </div>

    <div class="content">
      <h2>Advanced, automatic, instant</h2>
      <h3>Shutter speed, apperture and flash output adjust automatically</h3>
    </div>

  </div>
</div>
*/
