/********** universal styles **********/
html {
  font-family: "helvetica", sans-serif;
  font-size: 12px;
  color: #888888;
}

section {
  border: 0.5px solid #f3f3f3;
}

/********** header **********/
header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  background-color: white;
}

/********** nav for desktop **********/
.navigation-desktop {
  width: 100%;
  display: inline-flex;
  padding-left: 24px;
  padding-right: 24px;
}

.navigation-desktop .brand {
  display: flex;
  align-items: center;
}

.navigation-desktop span {
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.school.colorTwo{
  color: gray;
}

.navigation-desktop-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation-desktop-links ul {
  display: flex;
  align-content: flex-end;
  font-size: 1.20rem;
}

.navigation-desktop-links li {
  padding-left: 16px;
}

/********** nav for mobile **********/
.navigation-mobile {
  display: none;
}

.navigation-mobile ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/********** nav bar media queries **********/
@media only screen and (max-width: 600px) {
  .navigation-desktop {
    display: none;
  }

  .navigation-mobile {
    display: block;
    width: 100%;
  }
}

/********** main **********/
.main-content {
  padding-top: 64px;
}

/********** banner **********/
.banner {
  display: inline-flex;
  background-color: #D3D3D3;
  padding-top: 32px;
  padding-bottom: 32px;
}

.banner-image {
  width: 60%;
  padding-left: 24px;
}

.banner-image img {
  width: 100%;
}

.banner-content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
  max-width: 30%;
  color: #585858;
  font-weight: bold;
}

.banner-title {
  font-size: 3rem;
}

.enroll {
  margin-top: 2rem;
}

.enroll span {
  font-size: 1.2rem;
  line-height: 1.5;
}

.button {
  text-align: center;
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
  color: white;
  background-color: #4a4a4a;
}

/********** banner media queries **********/
@media only screen and (max-width: 1024px) {
  .banner-title {
    font-size: 2.25rem;
  }

  .enroll {
    margin-top: 1.0rem;
  }

  .enroll span {
    font-size: 1rem;
    line-height: 1.2;
  }

  .button {
    margin-top: 1.0rem;
    padding: 1.25rem 0rem;
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    display: block;
    padding: 0;
  }

  .banner-image {
    width: 100%;
    padding: 0;
  }

  .banner-content {
    padding: 32px 16px;
    max-width: 100%;
  }

  .banner-title {
    margin-bottom: 32px;
    font-size: 3rem;
  }

  .button {
    margin-top: 24px;
    background-color: #888c91;
  }
}

/********** section: one **********/
.mobile {
  display: none;
}

.first {
  display: inline-flex;
}

.column-single {
  padding: 32px 24px;
  width: 60%;
}

.column-single-media img {
  width: 100%
}

.column-single-title {
  color: #585858;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 32px;
  padding-bottom: 24px;
}

.column-single-paragraph {
  line-height: 1.5;
}

.column-single-author{
  padding-top: 32px;
  color: #585858;
}

.column-multi {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-multi-subSection {
display: flex;
}

.dark {
  background-color: #f3f3f3;

}

.content-right-section-image {
  padding: 16px;
  width: 35%;
}

.content-right-section-image img{
  width: 100%;
}

.content-right-section-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-right-section-title {
  font-size: 1.5rem;
  color: #585858;
  font-weight: bold;
}

.content-right-section-text {
  padding: 8px 0;
}

.readMore {
  color: #1fc3e0;
}

/********** section one media queries **********/
@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  .dark {
    background-color: white;
  }

  .first {
    display: flex;
  }
  .first .column-single {
    display: none;
  }

  .column-multi {
    width: 100%;
  }

  .column-multi-subSection {
    display: block;
    padding: 16px;
  }

  .content-right-section-image {
    width: 100%;
    padding: 0;
  }

  .content-right-section-image img {
    width: 100%;
  }


  .content-right-section-content {
    padding-left: 16px;
  }

  .content-right-section-title {
    font-size: 1.75rem;
    padding-top: 24px;
  }

  .readMore {
    font-size: 1.25rem;
    padding-bottom: 48px;
  }
}

/********** section two **********/
.section-title {
  color: #585858;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 32px;
  padding-bottom: 16px;
}


.column-single {
  padding: 32px 24px;
  width: 60%;
}

.column-single-media img {
  width: 100%
}

.section-grid {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f3f3f3;
  padding: 0 72px;
}

.feature {
  overflow: visible;
  min-width: 25%;
  flex: 1;
  background-color: white;
  margin: 16px;
}

.class-image img {
  width: 100%;
  height: auto;
}

.class-content {
  margin: 16px 0 24px 16px;
}

.class-content-title {
  font-size: 1.25em;
  color: #696969;
  font-weight: bold;
}

.class-content-courses p {
  margin: 8px 0 8px 0;
}

/********** section two media queries **********/
@media only screen and (max-width: 600px) {
  .start-learning .section-title
  ,.section-grid {
    background-color: white;
    padding-bottom: 8px;
  }

  .section-grid {
    display: block;
    padding: 0 16px;
  }

  .feature {
    background-color: #D3D3D3;
    margin-top: 8px;
  }
  .feature .class-image
  , .feature .class-content-courses
  , .feature .class-content-coursework {
    display: none;
  }

  .class-content {
    margin: 0;
  }

  .class-content-title h4 {
    padding: 16px 16px 24px 16px;
  }
}

@media only screen and (max-width: 1024px) {
  .feature {
    min-width: 33%;
  }
}

/********** section three **********/
.thesis-exhibit .section-title {
background-color: white;
}

.thesis-exhibit-content {
  display: flex;
}

.column-single-media video {
  width: 100%;
}

/********** section three media queries **********/
@media only screen and (max-width: 600px) {
  .thesis-exhibit .column-multi {
    display: none;
  }

  .thesis-exhibit .column-single {
    padding: 0;
    width: 100%;
  }

  .thesis-exhibit .column-single-title
  , .thesis-exhibit .column-single-paragraph  {
    display: none;
  }
}

/********** footer **********/
.footer-container {
  width: 100%;
  display: inline-flex;
  margin-top: 16px;
  margin-bottom: 32px;
}

.copyright {
  width:100%;
  margin-left: 24px;
}

.footer-nav-links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 24px;
}

.footer-nav-links  ul {
  display: flex;
}

.footer-nav-links ul li {
  padding-left: 16px;
}

.footer-nav-links ul li a {
  color: #888888;
}
